<!DOCTYPE html>
<html>
	<head>
		<title>Questioner - Questioner helps a meetup organizer prioritize questions to be answered</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width , initial-scale=1.0">
		<link rel="stylesheet" href="../static/styles/style.css" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="../static/js/main.js"></script> 
	</head>
	
	<body id="top">
		<!-- Content of body section -->
		
		<div class="container">
		 <header>
			<div class="row">
				<!-- Uniform application header section -->
					<div class="column-lg-2 column-md-2 column-sm-1 column-xs-2">
						<div class="logo">
						  <a href="" title="go to home">
							<img src="../static/images/logo.png" class="img" alt="Questioner" />		
						  </a>				
						</div>
						<div class="logo-mobile">
							<button class="button-rounded" onclick="menuDrawer()">
								<span class="fa fa-list fa-2x"></span>
							</button>
						</div>
					</div>
					<div class="column-lg-6 column-md-6 column-sm-6 column-xs-10">
						<form method="post" action="">
							<input type="search" name="search" placeholder="Search Meetup" class="input input-long" />
							<button type="submit" class="button button-short"><span class="fa fa-search"></span></button>						
						</form>
					</div>
					<div class="column-lg-4 column-md-4 column-sm-4 column-xs-4">
					  <nav class="menu">
						<ul>
							<li><a href=""> <span class="fa fa-user-o"></span> Account (Felix45) </a></li>	
							<li><a href=""> <span class="fa fa-sign-out"></span> Sign Out </a></li>				
						</ul>	
					   </nav>				
					</div>				
				
				<!-- End uniform application header section -->
			</div>
		</header>
			
			
		<!-- Start the Admin dashboard delete meetup section -->
		<main>
			<div class="row">
				<h2>Felix45 Dashboard</h2>			
			</div>
			
			<div class="row">
				
				
				<div class="dashboard column-lg-12 column-md-12 column-sm-12 column-xs-12">
					
						<div class="row">
	   				<div class="column-lg-3 column-md-3 column-sm-3 column-xs-12">
	   					<div class="cards user no-box-shadow">
								<h4>Artificial Intelligence</h4>
									<div class="meetup">
										<a href="">
											<img src="../static/images/artificial.jpg" class="img" alt="Artificial Intelligence">	
										</a>
										<div class="meetup-details">
											<div>
												<span class="fa fa-calendar fa-lg"></span> <span> 12/01/2019 </span>
											</div>
											<div>
												<span class="fa fa-map-marker fa-lg"> </span> <span> Venue: Base </span>
											</div>
											<div>
												<span class="fa fa-map-marker fa-lg"> </span> <span> Attending: 12 </span>
											</div>
											<div class="divider"></div>
											
										</div>					
									</div>
									<span class="attending">12</span>
					    		</div>
	   					</div>
	   				<div class="dashboard column-lg-9 column-md-9 column-sm-9 column-xs-12">
	   					<!-- <div class="user">
	   						<h2 class="">Title: Artificial Intelligence</h2>
	   						<p class="meetup-details">Title: Artificial Intelligence</p>
	   						<p class="meetup-details">Venue: Base</p>
	   						<p class="meetup-details">Date: 12/01/2018</p>
	   						<p class="meetup-details">Attending: 12</p>
	   					</div>
	   					<!--
	   					<div class="user">
	   						<h2 class="">Description: </h2>
	   						<p>lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum</p>
								<p>lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum</p>	   					
	   					</div>
	   					-->
	   						<div class="row">
							<h2>Top Questions</h2>
								<div class="column-lg-12 column-md-12 column-sm-12 col-xs-12">
									<ol class="questions">
										<li>
											<p> Does Artificial intelligence pose a threat to human intelligence?</p>
											
										<div class="questions-vote">
											<span class="fa fa-thumbs-up"></span>Up vote:(09)
											<span class="fa fa-thumbs-down"></span>Down vote:(08)
											<span class="fa fa-reply"></span>Reply
											<span class="">Author: Kevin</span>
											<span class="">Time: 3:32 AM</span>
										</div>
									
										</li>
										
										<li>
											<p> Does Artificial intelligence pose a threat to human intelligence?</p>
											
										<div class="questions-vote">
											<span class="fa fa-thumbs-up"></span>Up vote:(09)
											<span class="fa fa-thumbs-down"></span>Down vote:(08)
											<span class="fa fa-reply"></span>Reply
											<span class="">Author: Felix45</span>
											<span class="">Time: 3:32 AM</span>
										</div>
										
										
										</li>
										
										<li>
											<p> Does Artificial intelligence pose a threat to human intelligence?</p>
											
										<div class="questions-vote">
											<span class="fa fa-thumbs-up"></span>Up vote:(09)
											<span class="fa fa-thumbs-down"></span>Down vote:(08)
											<span class="fa fa-reply"></span>Reply
											<span class="">Author: Emily</span>
											<span class="">Time: 3:32 AM</span>
										</div>
										
										
																			
										
										</li>
										
										<li>
											<p> Does Artificial intelligence pose a threat to human intelligence?</p>
											
										<div class="questions-vote">
											<span class="fa fa-thumbs-up"></span>Up vote:(09)
											<span class="fa fa-thumbs-down"></span>Down vote:(08)
											<span class="fa fa-reply"></span>Reply
											<span class="">Author: Sylvia</span>
											<span class="">Time: 3:32 AM</span>
										</div>
										
										
										</li>
										
									</ol>					
								</div>
						</div>
	   					
	   				 </div>
	   			</div>
					
			
					<div class="row">
						<div class="divider"></div>					
					</div>
					
					
					
				
			
					
					</div>
				</div>
			
				
				
			
			</div>
			
			<!-- End the admin dashboard create meetup section -->	
	
		
		</main>
	 </div>
		
		<!-- Start footer section -->
		<footer>
			<div class="column-lg-12 column-md-12 column-sm-12 column-xs-12">
				<a href="" title="Questioner">&copy;Questioner 2019</a>
				<a id="scroll-top" href="#top" class="fa fa-angle-up fa-lg">
				
				</a>
			</div>		
		</footer>
		
		<!-- End the footer section -->
	   
	   <!-- Drawer menu for tablet and mobile devices -->
	    <div class="drawer-menu" id="mobile-menu">
	    	<ul>
				<li><a href=""><span class="fa fa-home"></span> Questioner </a></li>
				<li><a href=""><span class="fa fa-sign-in"></span> Sign In </a></li>
				<li><a href=""><span class="fa fa-user-o"></span> Sign Up </a></li>
				<li><a href=""><span class="fa fa-user-o"></span> Administrator</a></li>	    	
	    	</ul>
	    </div>
	   
	   <!-- End Drawer menu -->
	   
	  
	
		<!-- End of body section -->
	</body>
</html>

